html, body {
	margin: 0;
	padding: 0;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}
* {
	-webkit-transform: translateZ(0);
}
#line {
	position: absolute;
	width: 1920px;
	height: 1px;
	top: 1080px;
	left: 0;
	background: red;
}
#keep-size {
	position: relative;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}
#wrapper {
	top: 0;
	left: 0;
	position: relative;
	width: 90000px;
	height: 1080px;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translateZ(0);
}
.image {
	position: relative;
	float: left;
}
.clear {
	clear: both;
}